<?php
	global $wp;
 	$pp=add_query_arg( array(), $wp->request );

	if($pp== 'services/the-property-doctor' ):
								
?>
<script src="https://checkout.stripe.com/checkout.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>

	
// 	when form is submitted
	document.addEventListener( 'wpcf7mailsent', function( event ) {
   
		var full_name= $('input[name="full-name"]').val();
		var email= $('input[name="email-address"]').val();
		
	swal("What kind of job would you like to set-up", {
  buttons: {
    
    option1: {
      text: "£65 +VAT",
      value: "option1",
    },
    option2: {
      text: "£85+VAT",
      value: "option2",
    },
	option3: {
      text: "125+VAT",
      value: "option3",
    },
  },
})
.then((value) => {
  switch (value) {
 
    case "option1":
     console.log('1');
		  var amount= 7800;
      break;
 
    case "option2":
      	var amount= 10200;
      break;
 
	case "option3":
       	var amount= 15000;
      break;
		  
    default:
      
  }
		
	// 	stripe config
var handler = StripeCheckout.configure({
  key: 'pk_test_ioIRT437uhLmktbdtIOyVodu',
  image: 'https://stripe.com/img/documentation/checkout/marketplace.png',
  locale: 'auto',
  token: function(token) {
    // You can access the token ID with `token.id`.
    // Get the token ID to your server-side code for use.
    	$.ajax({
          type: "POST",
          url: "https://app.blsurveyors.com/api/payment",
          data: { full_name: full_name, email: email, amount: amount, token: token.id },
          crossDomain: true,
			async:true,
        
          cache: false,
          success: function(data){
			  
			  if(data=='good'){
				  swal("Good news!", "Your payment was successful!", "success");
			  }
			  else if(data=='fail'){
					  
					  swal("Sorry", "Your payment failed!", "error");
					  }
            console.log('server response', data);
          }
        })
	  
  }
});
	
	handler.open({
    	name: ' Berry Lodge Surveyors',
    	description: '2 widgets',
    	currency: 'gbp',
    	amount: amount
  	});

	
		// Close Checkout on page navigation:
window.addEventListener('popstate', function() {
  handler.close();
});
		

		
});
		
	

	}, false );
	
</script>


<?php  endif; ?>