<template lang="html">
  <div class="chat-message col-md-12 col-sm-12 col-xs-12">
  	
   <div :class="[message.who]" v-bind:style="{ background: message.color}" >
    <div v-if="message.image">
      <a v-if="file" v-bind:href="'/storage/'+message.image" target="_blank"><img  :src="'/storage/'+message.image" style="width: 150px; height: 150px;"></a>
      <i v-else class="fa fa-file">
        <a  v-bind:href="'/storage/'+message.image" target="_blank">{{ name }}</a>
      </i>
   	  <!-- <img :src="" alt="" style="width: 150px; height: 150px;"> -->
    </div>
   	 <p v-else>{{ message.message }}</p>
   	<small>{{ message.user.name   }} <span class="pull-right"> {{ message.created_at }}</span></small>
    <span v-bind:style="{ borderColor: message.color}"></span>
   </div>

  </div>
</template>

<script>
export default {
    props: ['message'],
    data:function (){
      return {
        name: '',
        file: false,
        chatcolor:''
      }
    },
    created: function(){
      if (this.message.image) {
        let file = this.message.image.split(".");
        if (file[1] == "png" || file[1] == "jpeg" || file[1] == "jpg") {
          this.file = true
        }
        else{
          let extnsn = this.message.image.split("/");
          this.file = false;
          this.name = extnsn[1];
        }
      }
    }
	
};    

</script>


<style lang="css">

.chat-message > .bubble-left > span {
    position: absolute;
    border-style: solid;
    border-width: 15px 15px 15px 0;
    border-color: transparent #1abaa6;
    display: block;
    width: 0;
    z-index: 1;
    left: -15px;
    top: 40%;
    border-top-color: transparent !important;
    border-bottom-color: transparent !important;
}
.chat-message > .bubble-right > span {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 15px 0 15px 15px;
    border-color: transparent #85939f;
    display: block;
    width: 0;
    z-index: 1;
    right: -15px;
    top: 45%;
    border-top-color: transparent !important;
    border-bottom-color: transparent !important;
}
.bubble-left:after,
.bubble-right:after{
  display: none;
}
</style>