<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12 col-md-12">
                <div class="card card-default">
                    <div class="card-body">
                       <div class="row">
                          
                          <div class="col-lg-12 col-md-12">
                            <div class="upload-btn-wrapper">
                              <button class="btn-upload"><img src="/images/upload-image.png"></button>
                              <input type="file" v-on:change="onImageChange" id="file">
                            </div>
                             <!-- <input type="file"  v-on:change="onImageChange" id="file"> -->
                          </div>
                          
                       </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data(){
            return {
                image: '',
                name : '',
                count:0,
            }
        },
        methods: {
            onImageChange(e) {
              name: e.target.files[0].name;
              
                let files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                    return;
                // this.createImage(files[0]);
                let file = e.target.files[0].type.split(".");
                let extension = file[file.length-1];
                // console.log(file[extension-1]);
                // console.log(e.target.files[0]);
                if (e.target.files[0].size <= 10000000 ) {
                  if (extension == "application/pdf" || extension == "image/png" || extension == "image/jpg" || extension == "image/jpeg" || extension == "document") 
                  {
                    this.image = e.target.files[0];
                    this.uploadImage();
                  }
                  else{
                    alert('You can only upload PDF, Image, Word File!!');
                  }
                }
                else{
                  alert('Size is too Large!!');
                }
                
                
            },
            createImage(file) {
                let reader = new FileReader();
                let vm = this;
                reader.onload = (e) => {
                  
                    this.image = e.target.result;
                    this.uploadImage();
                };
                reader.readAsDataURL(file);
                
                
            },
            uploadImage(){
                $('.loder-img').show();
                this.count = 1;
                var array = window.location.href.split('/');
                var lastsegment = array;
                
                let currentObj = this;   
                const config = {
                    headers: { 'content-type': 'multipart/form-data' }
                }
                
                let formData = new FormData();
                formData.append('file', this.image);
                console.log(lastsegment);
                if (lastsegment[3] == "admin") {
                formData.append('jobid',lastsegment[5]);
                    
                    if (this.count == 1) 
                    {
                    axios.post('/client/message-image',formData,config).then(response => {
                     this.$parent.$emit('messagesent', {
                         image: "chat-image/"+response.data.success,
                         job_id: lastsegment[5],
                         who: 'bubble-right',
                         color: $('#userChatColor').val(),
                         user: {
                             name: $('#user_name').text()
                         }
                    });
                     this.image = '';
                     $('#file').val('');
                     $('.loder-img').hide();
                  });
                    }
                    this.count = 0;
                }
                else{
                    let job_id = $('#jobid').data('jobid');
                  
                  formData.append('jobid',job_id);

                    if (this.count == 1) 
                    {
                  axios.post('/client/message-image',formData,config).then(response => {
                    console.log(response);
                    this.$parent.$emit('messagesent', {
                         image: "chat-image/"+response.data.success,
                         job_id: job_id,
                         who: 'bubble-right',
                         color: $('#userChatColor').val(),
                         user: {
                             name: $('#user_name').text()
                         }
                     });
                     this.image = '';
                     $('#file').val('');
                     $('.loder-img').hide();
                  });
                  }
                    this.count = 0;
                }
            }
        }
    };
</script>
<style lang="css">
.upload-btn-wrapper{
    position: relative;
}
.btn-upload {
  border: 0;
  background: #00B39D;
  padding: 10px 50px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.upload-btn-wrapper input[type=file] {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}


/*.chat-composer button {
    border-radius: 0;
}*/
</style>