.title-wrap{
	margin-bottom: 20px;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

/*.title-wrap:before,
.title-wrap:after{
	content: '';
	display: table;
	clear: both;
}*/
.float-md-left,
.float-md-right{
	text-align: center;
}
@media (min-width: 768px) {
	.title-wrap h2{
		font-size: 47px;
		line-height: 1.5;
	}
	.float-md-left{
		float: left;
		width: calc(100% - 250px);
		padding-right: 15px;
		text-align: left;
	}
	.float-md-right{
		float: right;
		width: 250px;
		text-align: right;
	}
	.float-md-right img{
		width: 100%;
	}
}
