
	body,html{
		font-size:16px;
		font-family:'averageregular', sans-serif, Helvetica, Arial;
		padding:0;
		margin:0;
		color:#778795;
	}



	
/*
*	Old Browser Detection
*/
	.outdated{
		padding:1em 3em;
		text-align:center;
		font-size:1.5em;
		background:#5B89E5;
		color:white;
		margin-bottom:2em;
	}
	
	.outdated a{
		color:white;
	}





/*
*	Common
*/
	.full-wrapper{
		max-width:1160px;
		margin:0 auto;	
		padding:0 5%;
	}

	
	.mobile,
	.mobile-large,
	.tablet,
	.tablet-large,
	.desktop{
		display:none;
	}
	
	.mobile{
		display:block;	
	}
	
	address{
		font-style:normal;	
	}
	
	iframe{
		height:360px!important;	
	}
	#cboxLoadedContent iframe{
		height:inherit!important;
	}
	
	
	#audio_iframe{
		height:100px!important;	
	}
	.cta-block{
		display:inline-block;
		zoom: 1; 
		*display: inline;
		padding:0.8em 1.5em;
		color:white;
		font-family: 'Raleway', sans-serif, Helvetica, Arial;
		text-align:center;
		text-decoration:none;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		
		font-size:14px;
		letter-spacing:0.05em;
		margin:1em 0;
		position:relative;
		background:#00B39D;
		border-bottom:3px solid #02937E;
	}
	
	
	.cta-block a{
		color:white;
		text-decoration:none;
	}
	
	.cta-block:hover,
	.cta-block:hover a{
		color:#282F42;
	}
	

	.cta-block:active{
		top:2px;
		border-bottom:1px solid #02937E;
	}
	
	
	
	.cta-block.purple{
		background:#778795;
		border-bottom:3px solid #5D6A75;
	}
	.cta-block.purple:active{ border-bottom:1px solid #5D6A75; }
	
	
	.cta-block.dark-purple{
		background:#404761;
		border-bottom:3px solid #323A51;
	}
	
	.cta-block.dark-purple:hover{ color:#969696;}
	.cta-block.dark-purple:active{ border-bottom:1px solid #323A51; }






	.cta-block.green{
		background:#00B39D;
		border-bottom:3px solid #02937E;
		color:white!important;
	}
	
	.cta-block.green:hover{ color:white!important;}
	.cta-block.green:active{ border-bottom:1px solid #02937E; }

	
	.search-everything-highlight-color{
		background:#00b39d!important;
		color:white;
	}
	
	.impression-logo{
		float:right;
		clear:left;
		display:inline-block;
zoom: 1;
*display: inline;
	}
	
	.go-back,
	.arrow-link{
		color:#00b39d;
		font-family: 'poppinsmedium', sans-serif, Helvetica, Arial;
		text-decoration:none;
		font-size:0.875em;
		position:relative;
		padding-left:18px;
		display:inline-block;
		zoom: 1; 
		*display: inline;
		margin-bottom:1em;	
	}
	
	.go-back:before,
	.arrow-link:before{
		width:15px;
		height:12px;
		background:url(img/global/arrow-green-right.png) no-repeat center center;
		position:absolute;
		left:0px;
		top:3px;
		content:" ";
		transition:         all .25s ease-in-out;
		-webkit-transition: all .25s ease-in-out;
		-moz-transition:    all .25s ease-in-out;
		-o-transition:      all .25s ease-in-out;
	}
	
	.go-back:before{
		background:url(img/global/arrow-green-left.png) no-repeat center center;
	}
	
	.go-back:hover:before,
	.arrow-link:hover:before{
		left:5px;
	}
	
	

	.document-download-link{
		display:block;
		background:url(img/blog/download-image.jpg) no-repeat left bottom;
		padding:0 0 14px 39px;
		text-decoration:none;
		font-family: 'poppinsregular', sans-serif, Helvetica, Arial;
		color:#404761;
		min-height:41px;
	}
	
	
	h1.mce,
	.mce h1,
	h2.mce.primary,
	.mce h2.primary{
		color:#404761;
		font-family: 'poppinsbold', sans-serif, Helvetica, Arial;
		font-size:3em;
		line-height:1.25em;
		margin-bottom:1em;
	}

	h2.mce,
	.mce h2{
		color:#404761;
		font-family: 'poppinsbold', sans-serif, Helvetica, Arial;
		font-size:1.500em;
		line-height:1.2em;
		margin-bottom:1.1em;
		letter-spacing:0.05em;
	}
	
	h2.mce.grey,
	.mce h2.grey{
		color:#94959A;
	}
	
	.grey{
		color:#94959A!important;
	}

	h2.mce.white,
	.mce h2.white{
		color:white;
	}
	
	h3.mce,
	.mce h3{
		color:#404761;
		font-family: 'poppinssemibold', sans-serif, Helvetica, Arial;
		font-size:1.125em;
		line-height:1.8em;
		letter-spacing:0.1em;
		margin-bottom:1.1em;
	}
	
	h4.mce,
	.mce h4{
		font-family: 'poppinsregular', sans-serif, Helvetica, Arial;
		font-size:1.125em;
		line-height:1.8em;
		color:#404761;
		letter-spacing:0.1em;
		margin-bottom:0.85em;
	}
	
	h5.mce,
	.mce h5{
		font-family: 'shadows_into_lightregular';
		font-size:1.875em;
		line-height:1.2em;
		color:#2b3347;
		letter-spacing:0.1em;
		margin-bottom:0.35em;
	}
	
	.mce p{
		margin:0 0 1.2em;
		line-height:1.85em;
		font-size:0.938em;
	}
	
	.mce ol,
	.mce ul{
		font-family: 'poppinsregular', sans-serif, Helvetica, Arial;
		font-size:0.938em;
		color:#404761;
		margin:2em 0;
	}
	
	.mce ul li{
		margin-bottom:1.5em;
		margin-left:1em;
		padding-left:0.2em;
		list-style-image:url(img/global/bullet.png);
		line-height:1.4em;
	}
	
	.mce ol li{
		margin-bottom:1.5em;
		margin-left:1.45em;
		padding-left:0.2em;
		list-style-type:decimal;
		line-height:1.4em;
	}
	
	.center{
		text-align:center;	
	}
	
	.clear{
		clear:both;
		height:0;
		width:0;
		overflow:hidden;	
	}
	
	.green{
		color:#00B39D!important;
	}
	
	.cover{
		background-position:center center;
		background-repeat:no-repeat;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;	
	}


	form.wpcf7-form .ajax-loader{
		width:16px;
		height:16px;	
	}
	
/*
*	Search form
*/
	.search-form{
		overflow:hidden;
		position:relative;
		background:#EEF2F5;
		width:100%;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
	}
	
	.search-nav-wrapper .search-form{
		max-width:225px;
	}
	
	.search-form .inner{
		padding:0 40px 0 0.8em;
		text-align:left;
	}
	
	.search-form .search-field{
		display:block;
		height:41px;
		line-height:41px;
		border:none;
		background:none;
		width:100%;
		color:#8D8D8D;
		font-size:0.85em;
		font-family: 'poppinsregular', sans-serif, Helvetica, Arial;
		
	}
		
	.search-form .search-submit{
		position:absolute;
		width:41px;
		height:41px;
		border:none;
		background:none;
		right:0;
		top:0;
		/*background:url(/old/search.png) no-repeat center center;*/
		z-index:1;
		
	}
	
	
	
	
	
/*
*	Primary Header
*/
	#mobile-menu-container{
		display:none;	
	}

	.primary-logo,
	#mobile-menu .sidr-class-primary-logo{
		max-width:264px;
		display:block;
	}
	
	#mobile-menu .sidr-class-primary-logo{
		padding:1em 10% 1.5em;	
		border-left:1px solid #404761;
	}
	
	.primary-logo img,
	#mobile-menu .sidr-class-primary-logo img{
		width:100%;
		height:auto;
	}

	#mobile-menu .sidr-class-menu-primary-menu-container{
		padding:1em 10%;
		background:#404761;
	}

	#mobile-menu .sidr-class-bold > a{
		font-weight:bold;
		color:white;
	}
	
	header.primary .full-wrapper .header-top{
		position:relative;	
	}
	
	header.primary .full-wrapper #mobile-btn{
		position:absolute;
		right:5%;
		top:1.2em;
	}

	.primary-logo{
		max-width:205px;
		padding-top:0.5em;
	}
	
	header.primary{
		background:#FFFFFF;
	}

	header.primary .header-top{
		overflow:hidden;	
	}

	
	header.primary .header-top .top-wrapper{
		float:right;
		width:70%;
		margin-top:2em;
	}
	
	header.primary .header-top .top-wrapper .contact-number .title{
		
		font-family: 'poppinsmedium', sans-serif, Helvetica, Arial;
		color:#94959a;
		font-size:0.938em;
	}
	
	header.primary .header-top .top-wrapper .contact-number .number{
		font-family: 'poppinsbold', sans-serif, Helvetica, Arial;
		color:#00b39d;
		font-size:1.313em;
	}
	
	
	header.primary .header-top .top-wrapper .contact-number{
		float:right;
		width:220px;
		position:relative;
		bottom:1px;
	}
	
	
	header.primary .header-top .top-wrapper .search-form{
		float:right;
		width:210px;
	}
	
	
	nav.primary{
		background:#404761;	
		font-family: 'poppinsmedium', sans-serif, Helvetica, Arial;
		color:white;
		margin-top:1.2em;
		position:relative;
	}
	
	footer.primary nav.primary{
		margin:0em;	
	}
	
	
	nav.primary li{
		display:inline-block;
		zoom: 1; 
		*display: inline;
		vertical-align:bottom;
		margin-right: -6px;
	}
	
	
	nav.primary a{
		color:white;
		text-decoration:none;
		font-size:0.813em;
		display:block;
		line-height:50px;
		height:50px;
		text-align:center;
		border-right:1px solid #595F75;
	}
	
	
	nav.primary li:last-child a{
		border-right:0;	
	}
	
	
	nav.primary ul.sub-menu{
		display:none;
		position:absolute;
		left:0;
		top:100%;
		width:100%;
		background:#EEF2F5;
		z-index:10;
	}

	
	nav.primary li.current-menu-parent ul.sub-menu,
	nav.primary li.current_page_parent ul.sub-menu{
		display:block;	
	}

	nav.primary li.current-menu-parent.mega-menu ul.sub-menu,
	nav.primary li.current_page_parent.mega-menu ul.sub-menu{
		display:none;	
	}

	
	

	nav.primary ul.sub-menu li a{
		color:#404761;
	}
	
	nav.primary li.current-page-ancestor > a,
	nav.primary li.current-menu-item > a,
	nav.primary li.current_page_item > a,
	nav.primary li.menu-item-has-children.current-menu-parent > a,
	nav.primary li.menu-item-has-children.current_page_parent > a,
	nav.primary li > a:hover{
		background:#EEF2F5;
		color: #404761;
	}

	
	nav.primary li ul.sub-menu li{
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
		filter: alpha(opacity=0);
		-moz-opacity: 0;
		-khtml-opacity: 0;
		opacity: 0;
	}

	nav.primary li ul.sub-menu .full-wrapper li{
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		filter: alpha(opacity=100);
		-moz-opacity: 1;
		-khtml-opacity: 1;
		opacity: 1;
	}
	
	
	nav.primary ul.sub-menu li a:hover,
	nav.primary a:hover{
		/*color:#00B39D;*/
		color:#404761;
	}
	

	.no-touch nav.primary li.menu-item-has-children.current-menu-item ul.sub-menu,
	.no-touch nav.primary li.menu-item-has-children:hover ul.sub-menu{
		display:block;
		z-index:999;
	}
	
	
	nav.primary ul.sub-menu li a{
		border:none;	
	}
	
	nav.primary ul.sub-menu li a:hover,
	nav.primary ul.sub-menu li.current-menu-item a{
		border-bottom:6px solid #D7DCE2;
	}

	nav.primary{
		margin-bottom:5em;	
	}
	
	body.page-child nav.primary{
		margin-bottom:8em;	
	}

/*
*	Primary Footer
*/
	footer.primary{
		margin-top:5em;	
	}

	footer.primary .lower-footer-area{
		overflow:hidden;
		color:#94959a;
		margin-top:60px;
	}
	
	footer.primary .lower-footer-area .col{
		margin-bottom:2em;
	}
	
	footer.primary .lower-footer-area h3{
		font-family: 'poppinssemibold', sans-serif, Helvetica, Arial;
		color:#404761;
		font-size:0.875em;
		text-transform:uppercase;
		margin-bottom:0.85em;
		letter-spacing:0.07em;
	}
	
	

	footer.primary .lower-footer-area .col a{
		color:#778795;
		text-decoration:none;
		display:block;
	}
	
	
	footer.primary .lower-footer-area .col a.email{
		text-decoration:underline;
		margin-bottom:1em;
	}

	footer.primary .lower-footer-area .title{
		color:#575960;
		font-size:0.9em;
		margin-bottom:0.2em;
		font-family:"poppinssemibold",sans-serif,Helvetica,Arial;
	}
	
	
	footer.primary .lower-footer-area ul.our-offices{
		overflow:hidden;	
	}
	
	
	footer.primary .lower-footer-area ul.our-offices li{
		float:left;
		width:49%;
		margin-right:1%;
		margin-bottom:2em;
	}
	
	footer.primary .lower-footer-area .offices-col{
		/*max-width:340px;*/
	}

	footer.primary .lower-footer-area address{
		font-size:0.875em;
		line-height:2em;
		margin-bottom:0.5em;
	}
	
	footer.primary .lower-footer-area .contact{
		font-size:0.875em;
	}
	
	footer.primary .lower-footer-area .contact span{
		color:#323337;	
	}
	
	
	
	footer.primary .lower-footer-area .footer-terms{
		overflow:hidden;
		font-size:0.875em;
		margin-bottom:3em;
		clear:both;
	}
	
	footer.primary .lower-footer-area .footer-terms .copyright{
		margin-bottom:1em;
	}
	
	footer.primary .lower-footer-area .footer-terms nav.terms li{
		display:inline-block;
		zoom: 1; 
		*display: inline;
		vertical-align:bottom;
	}
	
	footer.primary .lower-footer-area .footer-terms nav.terms li a{
		color:#94959a;
		text-decoration:none;
		padding:0 0.5em;
		border-left:solid 1px #94959A;
	}
	
	footer.primary .lower-footer-area .footer-terms nav.terms li:first-child a{
		border-left:none;
	}

	
	
/*
*	Social Media
*/
	ul.social-media{
		overflow:hidden;
		
	}
	footer.primary ul.social-media{
		width:86px;
	}
	ul.social-media a{
		display:block;
		float:left;
		width:38px;
		height:38px;
		background-image:url(img/global/social-media.png);
	background-repeat:no-repeat;
		overflow:hidden;
		margin-bottom:9px;
	}
	
	ul.social-media a.facebook{ background-position:0px 0px; margin-right:10px;}
	ul.social-media a.twitter{ background-position:-48px 0px; margin-right:10px;}
	ul.social-media a.instagram{ background-position:0px -47px; margin-right:10px;}
	ul.social-media a.youtube{ background-position:-48px -47px; }
	ul.social-media a.pintrest{ background-position:0px -134px; margin-right:10px;}
	
	/*footer.primary ul.social-media a.twitter{ margin-right:0px;}*/
	
	
	ul.social-media a.itunes{
		display:block;
		float:none;
		width:86px;
		height:31px;
		background-position:0px -94px;
		clear:both;
	}

	

/*
*	Home banner
*/
	body.home header.primary nav.primary{
		margin-bottom:0;	
	}
	
	section.cloud-marquee{
		background:url(img/home/banner-bg-grad.png) repeat-x top left;
		background-size:auto 100%;
		position:relative;
		margin-bottom:5em;
	}
	
	section.cloud-marquee .flexslider-banner{
		position:relative;
		z-index:2;	
	}

	section.cloud-marquee ul.clouds{
		width:100%;
		position:absolute;
		left:0;
		top:0;
		right:0;
		bottom:0;
		width:100%;
		height:100%;
		overflow:hidden;
	}
	
	section.cloud-marquee ul.clouds li.hidden{
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
		filter: alpha(opacity=0);
		-moz-opacity: 0;
		-khtml-opacity: 0;
		opacity: 0;
	}
	
	section.cloud-marquee ul.clouds li{
		background:url(img/home/banner-cloud.png) no-repeat top left;
		background-size:100% 100%;
		width:13.250em;	
		height:6.188em;
		position:absolute;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
		filter: alpha(opacity=50);
		-moz-opacity: 0.5;
		-khtml-opacity: 0.5;
		opacity: 0.5;
	}

	
	section.cloud-marquee ul.clouds li.light{
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
		filter: alpha(opacity=80);
		-moz-opacity: 0.8;
		-khtml-opacity: 0.8;
		opacity: 0.8;
	}
	
	section.cloud-marquee ul.clouds li.dark{
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
		filter: alpha(opacity=30);
		-moz-opacity: 0.3;
		-khtml-opacity: 0.3;
		opacity: 0.3;
	}
	
	section.marquee li.banner-slide .banner-content{
		overflow:hidden;
	}
	
	section.marquee li.banner-slide .inner-content{
		padding:3em 0 4em;
	}
	
	section.marquee li.banner-slide .inner-content .text-area{
		text-align:center;	
	}

	
	section.marquee li.banner-slide .text-area h2{
		color:#404761;
		font-family: 'poppinsbold', sans-serif, Helvetica, Arial;
		font-size:1.8em;
		margin-bottom:0.6em;
		line-height:1.3em;
	}
	
	section.marquee li.banner-slide .image-wrapper{
		padding:3em 1em;
		display:none;
		position:relative;
		bottom:2em;
	}
	
	section.marquee li.banner-slide .image-wrapper img{
		width:100%;
		height:auto;
	}
	
	section.marquee li.banner-slide .image-wrapper .image{
		/*max-width:435px;*/
		margin:0 auto 1em;
		text-align:center;
	}
	
	section.marquee li.banner-slide .image-wrapper .image img{
		max-height:350px;
		max-width:550px;
		/*
		width:auto;
		height:auto;
		*/
	}
	
	section.marquee li.banner-slide .image-wrapper .dropshadow{
		position:absolute;
		bottom:1em;
		left:0;
		right:0;
		width:100%;
	}
	
	
	
	section.marquee li.banner-slide .image-wrapper .dropshadow .inner{
		max-width:435px;
		margin:0 auto;
	}
	
	section.marquee li.banner-slide .image-wrapper .image.right{
		/* Firefox */
		-moz-transform:rotate(5deg);
		/* Safari and Chrome */
		-webkit-transform:rotate(5deg);
		/* Opera */
		-o-transform:rotate(5deg);
		/* IE9 */
		-ms-transform:rotate(5deg);
	}
	
	section.marquee li.banner-slide .image-wrapper .image.left{
		/* Firefox */
		-moz-transform:rotate(-5deg);
		/* Safari and Chrome */
		-webkit-transform:rotate(-5deg);
		/* Opera */
		-o-transform:rotate(-5deg);
		/* IE9 */
		-ms-transform:rotate(-5deg);
	}
	
	section.marquee .flex-viewport{
		position:relative;
		z-index:5;	
	}
	
	.flex-navigation{
		position:absolute;
		bottom:1.5em;
		left:0;
		width:100%;
		right:0;
		text-align:center;
		z-index:20;
	}
	
	.flex-navigation .inner-nav{
		display:inline-block;
		zoom: 1; 
		*display: inline;
		position:relative;
	}
	
	.flex-navigation .inner-nav .flex-direction-nav li{
		display:block;
		height:27px;
		width:27px;
		position:absolute;
		top:-2px;
	}
	
	.flex-navigation .inner-nav .flex-direction-nav li a{
		display:block;
		overflow:hidden;
		text-indent:9999px;
		background-color:#404761;
		-webkit-border-radius: 999px;
		-moz-border-radius: 999px;
		border-radius: 999px;
		height:27px;
		width:27px;
		cursor:pointer;
	}
	
	.flex-navigation .inner-nav .flex-direction-nav li a:hover{
		background-color:#323A51;
	}
	
	.flex-navigation .inner-nav .flex-direction-nav li.flex-nav-prev{
		left:-45px;	
	}
	
	.flex-navigation .inner-nav .flex-direction-nav li.flex-nav-next{
		right:-45px;	
	}
	
	
	.flex-navigation .inner-nav .flex-direction-nav li.flex-nav-prev a{
		background-image:url(img/global/arrow-small-left.png);
		background-repeat:no-repeat;
		background-position:center center;
	}
	
	.flex-navigation .inner-nav .flex-direction-nav li.flex-nav-next a{
		background-image:url(img/global/arrow-small-right.png);
		background-repeat:no-repeat;
		background-position:center center;
	}
	
	
	
	.flex-navigation .inner-nav .flex-control-paging li{
		display:inline-block;
		zoom: 1; 
		*display: inline;
		width:12px;
		height:12px;
		margin:0 0.4em;
	}
	.flex-navigation .inner-nav .flex-control-paging li a{
		width:12px;
		height:12px;
		display:block;
		background:#404761;
		transition:         opacity .25s ease-in-out;
		-webkit-transition: opacity .25s ease-in-out;
		-moz-transition:    opacity .25s ease-in-out;
		-o-transition:      opacity .25s ease-in-out;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
		filter: alpha(opacity=50);
		-moz-opacity: 0.5;
		-khtml-opacity: 0.5;
		opacity: 0.5;
		overflow:hidden;
		text-indent:999px;
		-webkit-border-radius: 999px;
		-moz-border-radius: 999px;
		border-radius: 999px;
		cursor:pointer;
	}
	
	.flex-navigation .inner-nav .flex-control-paging a.flex-active,
	.flex-navigation .inner-nav .flex-control-paging a:hover{
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		filter: alpha(opacity=100);
		-moz-opacity: 1;
		-khtml-opacity: 1;
		opacity: 1;
	}
	
	
/*
*	Default Flexslider
*/
	.flexslider{
		position:relative;
		padding-bottom:4.5em;	
	}


	.flexslider.green .flex-navigation .inner-nav .flex-direction-nav li a {
		background-color: #00B39D;
	}
	
	.flexslider.green .flex-navigation .inner-nav .flex-control-paging li a{
		background: white;
	}
	
	

/*
*	Three Column	/	Two Column
*/
	section.two-col,
	section.two-col-narrow-left,
	section.three-col{
		overflow:hidden;
		margin-bottom:3em;	
	}
	
	section.two-col .col,
	section.two-col-narrow-left .col,
	section.three-col .col{
		margin-bottom:1em;	
	}
	
	

/*
*	Posts
*/
	.written-by{
	    font-family: 'shadows_into_lightregular';
	    font-size: 1em;
	    line-height: 1.2em;
	    color: #2b3347;
	    margin-bottom: 0.35em;
	    clear: both;
	}

	header.post-main-header{
		overflow:hidden;
		position: relative;
	}
	header.post-main-header .image{
		width:95px;
		margin:0 auto;
	}
	header.post-main-header .image img{
		width:100%;
		height:auto;
	}

	@media only screen and (min-width: 550px) {
		header.post-main-header .image{
			position: absolute;
			left:0;
			top:0;
		}

		header.post-main-header .main-info{
			padding-left:110px;
			min-height: 110px;
		}

		header.post-main-header.post-full .image{
			right:0;
			left:auto;
		}

		header.post-main-header.post-full .main-info{
			padding-right:110px;
			padding-left:0px;
		}

		header.post-main-header.post-full .written-by{
			text-align: right;
		}
	}




/*
*	Front page
*/

	main.template-front-page .introduction{
		margin:1em 0 5em;
	}
	
	main.template-front-page .qualification h2,
	main.template-front-page .introduction h2{
		margin-bottom:3em;	
	}
	aaa
	section.marquee{
		margin-bottom:5em;	
	}
	
	main.template-front-page .qualification{
		background:#F7F9FA;
		border-top:solid 1px #E2E1DF;
		padding:4em 0;
	}
	
	
	main.template-front-page .qualification .icon{
		height:120px;
		overflow:hidden;
		margin-bottom: 3rem;
	}
	
	main.template-front-page .qualification .icon img{
		position: relative;
		top: 50%;
		-webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
		
	}
	
	
	main.template-front-page .qualification a.col{
		display:block;
		text-decoration:none;
		color:#778795;
		margin:1.5rem 0;
		padding:1.5rem;
		border-bottom:1px solid #E5E4E2;
	}
	
	main.template-front-page .qualification a.col span{
		display:block;
	}
	main.template-front-page .qualification section.three-col{
		margin-bottom:0;	
	}

	
	
	.testimonials-strip{
		background:black;
		padding:4em 0 2em;
		position: relative;
	}




	section.standard-marquee .flexslider-banner{
		height:auto;
	}




	
	.testimonials-strip .full-wrapper{
		position: relative;
		z-index: 1;
	}

	.testimonials-strip .bg{
		background-position:top center;
		background-repeat: no-repeat;;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		position: absolute;
		top:0;
		left:0;
		width: 100%;
		height:100%;
		opacity:0.4;
		z-index: 0;
	}
	
	.testimonials-strip .quote-large{
		font-family: 'poppinssemibold', sans-serif, Helvetica, Arial;
		font-size:7.438em;
		color:#00b39d;
		line-height:1em;
		overflow:hidden;
		height:50px;
	}
	
	
	.testimonials-strip .quote{
		font-size:2em;
		color:white;
		-moz-transform:rotate(-2deg);
		-webkit-transform:rotate(-2deg);
		-o-transform:rotate(-2deg);
		-ms-transform:rotate(-2deg);
		font-family: 'shadows_into_lightregular';
		max-width:710px;
		margin:0 auto 1em;
	}
	

	.testimonials-strip .quote{
		font-size:1.2em;
		color:white;
		-moz-transform:rotate(-2deg);
		-webkit-transform:rotate(-2deg);
		-o-transform:rotate(-2deg);
		-ms-transform:rotate(-2deg);
		font-family: 'shadows_into_lightregular';
		max-width:710px;
		margin:0 auto 1em;
	}

	
	.testimonials-strip .bottom{
		font-family: 'poppinsregular', sans-serif, Helvetica, Arial;
		text-align:center;
		color:white;
		font-size:0.938em;
	}

	.testimonials-strip .bottom .reference,
	.testimonials-strip .bottom .date{
		display:inline-block;
		zoom: 1; 
		*display: inline;
		padding:0 0.5em;
	}

	
	.testimonials-strip .bottom .reference{
		border-right:1px white solid;	
	}

	
	
	.home footer.primary{
		margin-top:0;	
	}

	
	.wpcf7-form .two-col{
		margin-bottom:0;	
	}
	
	.wpcf7-form .submit-area{
		text-align:left;
		margin-top:2em;	
	}
	
	.wpcf7-form .submit-area .message{
		margin-right:6px;
	}
	
	.wpcf7-form .recaptura-wrapper{
		width:304px; 
		float:right; 
		position: relative; 
		right:5px
	}
	.wpcf7-form .submit-wrapper{
		position: relative;
		height:80px;
	}
	
	.wpcf7-form .submit-wrapper .wpcf7-submit{
		position:absolute;
		right:6px;
		top:14px;
		margin:0;
	}
	
	.wpcf7-form .submit-wrapper .ajax-loader {
		height: 16px!important;
		width: 16px!important;
		bottom:0;
		right:6px;
		position:absolute;
	}
	
	
	/*
		width:304px; float:right; position: relative; right:19px
	*/
	
	

/*
*	Forms
*/
	form.wpcf7-form label{
		display:block;
		padding:0 0 0.2em 0.85em;
		margin-top:1em;
	}
	
	form.wpcf7-form input[type="text"],
	form.wpcf7-form input[type="email"],
	form.wpcf7-form select,
	form.wpcf7-form textarea{
		width:99%;
		background:none;
		border:none;
		margin-bottom:1.2em;
		border:solid 1px #E0E3E6;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
	}
	
	form.wpcf7-form input[type="text"],
	form.wpcf7-form input[type="email"]{
		height:55px;
		line-height:55px;
		padding:0 1em;
	}
	
	form.wpcf7-form textarea{
		padding:1em;
		max-height:120px;
		margin-bottom:0;
	}
	
	
	.wpcf7-submit{
		border:none;
		display:inline-block;
		zoom: 1; 
		*display: inline;
		padding:0.8em 4.5em;
		color:white;
		font-family: 'poppinssemibold', sans-serif, Helvetica, Arial;
		text-align:center;
		text-decoration:none;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		
		font-size:14px;
		letter-spacing:0.05em;
		margin:1em 0;
		position:relative;
		background:#00B39D;
		border-bottom:3px solid #02937E;
	}
	
	
	.wpcf7-submit:hover{
		color:#282F42;
	}
	
	.wpcf7-submit:active{
		top:2px;
		border-bottom:1px solid #02937E;
	}
	
	
	::-webkit-input-placeholder,
	:-moz-placeholder,
	::-moz-placeholder,
	:-ms-input-placeholder{  
	   color: #555453!important;  
	}
	
	
	
	/*
	
	.wpcf7-file{
		padding:0.45em 0.5em;
		background:#778795;
		border-bottom:3px solid #5D6A75;
		font-size:0.85em;
		font-weight:300;
	}
	*/
	
	
	.upload-wrapper{
		position: relative;
		overflow: hidden;
		background:url(img/global/upload-button.png) no-repeat center center;
		width:153px;
		height:48px;
		margin-top:2em;
	}
	
	.upload-wrapper .supporting-doc,
	.upload-wrapper .wpcf7-file {

		margin: 0;
		padding: 0;
		cursor: pointer;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
		filter: alpha(opacity=0);
		-moz-opacity: 0;
		-khtml-opacity: 0;
		opacity: 0;
		width:153px;
		height:48px;
		display:block;
	}
	
	
	.wpcf7-response-output {
		margin: 2em auto!important;
		max-width:450px;
		padding:1.5em!important;
		background:#404761;
		border:none!important;
		text-align:center;
		color:white;
		font-family: 'poppinssemibold', sans-serif, Helvetica, Arial;
	}

/*
*	Podcasts
*/
	main.template-podcast-listing .two-col-narrow-left{
		margin-bottom:0em;	
		
	}



/*
*	Search pagination
*/

	nav.paginaton-navigation{
		overflow:hidden;
		margin-top:2em;
		text-align:right;
	}
	nav.paginaton-navigation .pagination-area{
		overflow:hidden;
		float:left;
		margin-bottom:1em;
		font-family: 'poppinsmedium', sans-serif, Helvetica, Arial;
	}
	
	nav.paginaton-navigation .pagination-area a,
	nav.paginaton-navigation .pagination-area span{
		border-right:none;
		display:block;
		width:29px;
		line-height:40px;
		text-align:center;
		float:left;
		text-decoration:none;
		
		padding:0 0 0 9px;
		font-size:0.875em;
		margin-right:1em;
		background:none;
		color:#404761;
	}
	

	nav.paginaton-navigation .pagination-area span.current{
		background:url(img/global/green-arrow-left.png) no-repeat center center;
		color:white;
	}
	
	
	nav.paginaton-navigation .buttons{
		display:inline-block;
		zoom: 1; 
		*display: inline;
		overflow:hidden;
	}
	
	nav.paginaton-navigation .buttons .button{
		display:inline-block;
		zoom: 1; 
		*display: inline;
	}
	
	nav.paginaton-navigation .buttons .button a{
		display:block;
		padding:0 4em;
		text-transform:uppercase;
	}
	

	nav.paginaton-navigation .buttons .button,
	nav.paginaton-navigation .buttons .button a{
		background:#00B39D;
		border-right:none;
		line-height:40px;
		text-align:center;
		color:white;
		text-decoration:none;
		font-family: 'poppinsmedium', sans-serif, Helvetica, Arial;
	}





/*
*	Contact us
*/
	main.template-contact-us-page ul.our-offices .title{
		 color: #323337;
	}

	main.template-contact-us-page ul.our-offices .contact span{
		color: #323337;
	}
	main.template-contact-us-page ul.our-offices li{
		font-size:0.875em;
		line-height:2.2em;
		color:#94959a;
		margin-bottom:1.75em;
	}

	main.template-contact-us-page ul.our-offices li address{
		margin-bottom:0;	
	}
	
	main.template-contact-us-page ul.our-offices li a{
		color:#404761;
		text-decoration:underline;
	}
	
	main.template-contact-us-page .one-left a{
		text-decoration:none;	
	}
	
	.acf-map {
		height: 500px;
	}
	.acf-map {
		border: 1px solid #ccc;
		margin: 0;
		width: 100%;
	}

	
	main.template-contact-us-page .ul-buttons{
		overflow:hidden;	
	}
	
	main.template-contact-us-page .ul-buttons li{
		text-align:center;
		display:block;
		/*
		float:left;
		width:49%;
		margin:0 0.5% ;
		*/
		margin:0.5em 0.5% 0;
	}
	
	
	main.template-contact-us-page .ul-buttons li a{
		background:#778795;
		color:white;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		font-family: 'poppinssemibold', sans-serif, Helvetica, Arial;
		display:block;
		padding:0.75em 1.2em;
		font-size:0.9em;
		cursor:pointer;
	}
	

	
	main.template-contact-us-page .ul-buttons li a.current{
		background:#404761;
	}
	
	main.template-contact-us-page .map-single{
		position:absolute;
		left:0;
		width:100%;
		right:0;
		bottom:0;
		top:0;
		height:100%;
		z-index:5;
		transition:         opacity .25s ease-in-out;
		-webkit-transition: opacity .25s ease-in-out;
		-moz-transition:    opacity .25s ease-in-out;
		-o-transition:      opacity .25s ease-in-out;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
		filter: alpha(opacity=0);
		-moz-opacity: 0;
		-khtml-opacity: 0;
		opacity: 0;
	}
	
	main.template-contact-us-page .map-single.current{
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		filter: alpha(opacity=100);
		-moz-opacity: 1;
		-khtml-opacity: 1;
		opacity: 1;
	}

	body.page-id-20 footer.primary {
		margin-top: 0em;
	}
	
	main.template-contact-us-page .iframe-map-details{
		position:relative;
		height: 500px;
	}



/*
*	Nes Preview
*/
	article.news-preview{
		overflow:hidden;
		margin-bottom:3em;
	}

	article.news-preview a.image{
		display:block;
		max-width:200px;
		margin:0 auto 2em;	
	}

	
	article.news-preview a.image img{
		width:100%;
		height:auto;	
	}
	
	
	
	article.news-preview .date{
		margin-bottom:0;	
	}
	
	article.news-preview .content-area h3{
		margin-bottom:0;
	}
	
	article.news-preview .content-area h3 a{
		text-decoration:none;
		color:#404761;
		letter-spacing:0.02em;
	}

/*
*	Sidebar
*/
	#secondary aside{
		padding:2em 2em 1em;
	}
	
	#secondary aside.popular-posts{
		border-bottom:1px solid #E5E4E2;
	}
	
	#secondary aside h3.widget-title{
		font-family: 'poppinsregular', sans-serif, Helvetica, Arial;
		color:#404761;
		font-size:1.1em;
		margin-bottom:1.5em;
	}
	
	#secondary aside a{
		text-decoration:none;
		color:#404761;
		font-family: 'poppinssemibold', sans-serif, Helvetica, Arial;
		font-size:0.875em;
	}
	
	#secondary aside.popular-posts .wpp-views{
		display:none;
	}
	
	#secondary aside.popular-posts ul.wpp-list li{
		margin-bottom:1em;	
	}

	#secondary aside.party-wall-downloads ul li{
		margin-bottom:1.8em;
	}
	
	


/*
*	Interactive Guide
*/
	body.page-id-42 footer.primary{
		margin-top:0;
	}


	#property-interactive-wrapper{
		background:url(img/home/banner-bg-grad.png) repeat-x top left;
		background-size:auto 100%;
		padding:4em 0;
		margin-top:4.5em;
	}


	#property-interactive-wrapper .house-menus{
		margin-bottom:1em;
		overflow:hidden;
	}
	
	#property-interactive-wrapper .house-builder .title,
	#property-interactive-wrapper .house-menus .title{
		font-family: 'shadows_into_lightregular';
		color:#404761;
		font-size:1.55em;
		letter-spacing:0.05em;
		margin:1em 2em 1em 0;
	}
	
	#property-interactive-wrapper .house-menus .title{
		float:left;
	}
	
	#property-interactive-wrapper .house-menus ul{
		float:left;
	}
	
	#property-interactive-wrapper .house-menus ul li{
		display:inline-block;
		zoom: 1; 
		*display: inline;
		margin:0 2em 1em 0;
		cursor:pointer;
		text-align:center;
	}
	
	#property-interactive-wrapper .house-menus ul li .image{
		height:41px;
		width:100%;
		overflow:hidden;
	}
	
	#property-interactive-wrapper .house-menus ul li .image img{
		position:relative;
		top:-100%;
	}
	
	#property-interactive-wrapper .house-menus ul li.current .image img,
	#property-interactive-wrapper .house-menus ul li:hover .image img{
		top:0%;
	}
	
	#property-interactive-wrapper .house-menus ul li .name{
		font-family:'poppinsmedium';
		font-size:0.875em;
		margin-top:1em;
		color:white;
	}
	
	
	
	
	#property-interactive-wrapper .house-menus ul li.current .name,
	#property-interactive-wrapper .house-menus ul li:hover .name{
		color:#404761;
	}
	
	
	#property-interactive-wrapper .house-builder li{
		overflow:hidden;	
	}
	
	#property-interactive-wrapper .house-builder li .image-wrapper{
		float:left;
		width:70%;
	}
	
	#property-interactive-wrapper .house-builder li .image-wrapper .image{
		max-width:758px;
		position:relative;
	}
	
	#property-interactive-wrapper .house-builder li .image-wrapper .image img{
		width:100%;
		height:auto;
	}
	
	#property-interactive-wrapper .house-builder li .image-wrapper .image .primary img{
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		z-index:5;
	}
	
	#property-interactive-wrapper .house-builder li .form-area{
		float:right;
		width:28%;
	}
	
	#property-interactive-wrapper .house-builder li.slide{
		display:none;	
	}
	
	#property-interactive-wrapper .house-builder li.slide.current{
		display:block;	
	}
	
	#property-interactive-wrapper .house-builder .description_wrapper{
		clear:both;
		margin-top:2em;	
	}
	
	
	#property-interactive-wrapper .house-builder .description_wrapper .description-lists li{
		display:none;
	}
	
	
	#property-interactive-wrapper .house-builder .description_wrapper h3{
		color:white;
		font-size:1.3em;	
	}
	
	#property-interactive-wrapper .house-builder .description_wrapper p{
		color:#404761;
		font-size:1em;
	}
	
	#property-interactive-wrapper .house-builder .form-area li{
		overflow:hidden;
		margin-bottom:1.5em;
		position:relative;
	}
	
	#property-interactive-wrapper .house-builder .form-area li input[type="radio"]{
		display:block;
		position:absolute;
		left:0;
		top:1px;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
		filter: alpha(opacity=0);
		-moz-opacity: 0;
		-khtml-opacity: 0;
		opacity: 0;
		width:18px;
		height:20px;
		z-index:10;
		cursor:pointer;
	}
	
	
	#property-interactive-wrapper .house-builder .form-area li input[type="radio"] + .text span{
		display:inline-block;
		width:18px;
		height:20px;
		margin:-1px 4px 0 0;
		vertical-align:middle;
		cursor:pointer;
		position:absolute;
		left:0;
		top:3px;
		cursor:pointer;
		z-index:0;
		background:url(img/party-walls/tickboxes.png) no-repeat 0 -20px;
	}
	
	#property-interactive-wrapper .house-builder .form-area li input[type="radio"]:checked + .text span {
		background:url(img/party-walls/tickboxes.png) no-repeat 0 0px;
	}


	#property-interactive-wrapper .house-builder .form-area .text{
		color:#404761;
		font-size:1em;
		display:block;
		margin-left:27px;
	}
	
	
	#property-interactive-wrapper .house-builder .download-area{
		display:none;	
	}
	
/*
*	Search
*/
	header.search-header {
		border-bottom: 1px solid #c8c8c8;
		padding-bottom: 1em;
		margin-bottom:1.5em;
	}

	header.search-header .result-summery{
		font-size:0.85em;
		margin-top:1.5em;
	}
	
	body.search-results article.article-preview {
		float: none;
		padding: 0;
		width: 100%;
		margin-bottom:1em;
		background:#F7F7F7;
		padding:1em;
	}
	
	body.search-results article.article-preview a.post-title{
		color: #404761;
    	font-family: "poppinsbold",sans-serif,Helvetica,Arial;
		text-decoration:none;
		font-size:1.2em;
		display:block;
		margin-bottom:0.2em;
	}

	body.search-results article.article-preview .breadcrumbs{
		font-size:0.9em;
		color:#6F6F6F;
		margin-bottom:0.5em;	
	}
	body.search-results article.article-preview .breadcrumbs a{
		color:#6F6F6F;
	}
	body.search-results article.article-preview .excerpt{
		margin-bottom:0;
	}
	


/*
*	Party Wall Surveying
*/
.number-list-wrapper{
	position:relative;	
}


.number-list-wrapper .number{
	width:45px;
	height:45px;
	font-size:20px;
	line-height:50px;
	color:white;
	text-align:center;
	font-family: 'poppinssemibold', sans-serif, Helvetica, Arial;
	background:#00B39D;
	-webkit-border-radius: 999px;
	-moz-border-radius: 999px;
	border-radius: 999px;
	position:absolute;
	left:0;
	top:0;
}

.number-list-wrapper .image{
	width:45px;
	height:45px;
	position:absolute;
	left:0;
	top:0;
	display: block;
	background-repeat: no-repeat;
	background-position:  center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

section.party-wall-response-options.service-alternative .number-list-wrapper h3{
	line-height: 1.4em;
}



.service-alternative-downloads aside.party-wall-downloads ul.downloads-list{
	font-size:0;
}

.service-alternative-downloads aside.party-wall-downloads ul.downloads-list li{
	font-size:1rem;
	display: inline-block;
	vertical-align: top;
	margin-bottom:2.2rem!important;
}


.number-list-wrapper h3{
	margin:0px 0 0 70px;	
}

.party-wall-response-options{
	background:#F8FAFB;
	border-top:solid 1px #E2E1DF;
	padding:4em 0;
}


.party-wall-response-options .subtitle{
	font-size:0.75em; 
	padding:1em 0 4em;
}

.page-id-12 footer.primary{
	margin-top:0;	
}


/*
*	Podcasts
*/

.post-type-archive-podcast .two-col-narrow-left .one-left img{
	max-width:371px;
}

article.podcast-wrapper{
	margin-bottom:2em;
	padding-bottom:2em;
	border-bottom:#B8B8B8 solid 1px;
}
article.podcast-wrapper h3{
	margin-bottom:0;	
}

article.podcast-wrapper .description{
	font-size:0.875em;	
}

article.podcast-wrapper .date{
	color: #404761;	
}


.testimonials .flex-control-nav.flex-control-paging{
	max-width:150px;	
}
			


.template-about-page .two-col-narrow-left img{
	display:none;	
}

.template-about-page .two-col-narrow-left h2{
	margin-top:2em;	
}



/*
*	Client list
*/
	ul.client-list-wrapper{
		overflow:hidden;
		margin-top:2em;
	}
	
	ul.client-list-wrapper li{
		display:block;
		width:50%;
		float:left;
	}
	
	ul.client-list-wrapper li:nth-child(2n +1){
		clear:left;	
	}
	
	ul.client-list-wrapper li .inner{
		max-width:100px;
		margin:0 auto;
		padding:1em;
	}
	
	ul.client-list-wrapper li img{
		width:100%;
		height:auto;
	}
	
	
	
	
	
	
/*
*	project preview
*/
	#projects-list{
		overflow:hidden;
		margin-top:4em;
	}
	
	article.project-preview{
		margin-bottom:4.5em;	
	}
	
	article.project-preview .inner{
		margin: 0 auto;
		max-width: 264px;
		padding: 0 7px;
	}
	
	article.project-preview .inner a{
		display:block;
	}
	
	article.project-preview .inner a.image{
		position:relative;
		max-width:250px;
		height:250px;
		margin-bottom:1em;
	}
	
	article.project-preview .inner a.image .hover{
		text-align:center;
	}
	
	
	
	article.project-preview h2 a{
		text-decoration:none;
		color:#2B3347;
		font-family: "poppinsbold",sans-serif,Helvetica,Arial;
		letter-spacing:0.01em;
		font-size:1.2em;
		line-height:1.2em;
		font-weight:300;
	}
	
	
	article.project-preview .inner a.image .hover{
		position:absolute;
		left:0;
		top:0;
		right:0;
		bottom:0;
		width:100%;
		height:250px;
		z-index:1;
		text-align:center;
		transition:         all .25s ease-in-out;
		-webkit-transition: all .25s ease-in-out;
		-moz-transition:    all .25s ease-in-out;
		-o-transition:      all .25s ease-in-out;
		color:white;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
		filter: alpha(opacity=0);
		-moz-opacity: 0;
		-khtml-opacity: 0;
		opacity: 0;
	}
	
	
	article.project-preview .inner a.image:hover .hover{
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		filter: alpha(opacity=100);
		-moz-opacity: 1;
		-khtml-opacity: 1;
		opacity: 1;
	}
	
	article.project-preview .inner a.image .hover .blue-bg{
		position:absolute;
		left:0;
		top:0;
		right:0;
		bottom:0;
		width:100%;
		height:100%;
		background:#2B3347;
		z-index:1;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
		filter: alpha(opacity=65);
		-moz-opacity: 0.65;
		-khtml-opacity: 0.65;
		opacity: 0.65;
	}
	
	
	
	article.project-preview .inner a.image .hover span{
		display:block;
	}
	
	article.project-preview .inner a.image .hover .text{
		position: relative;
		top: 50%;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
		position:relative;
		z-index:10;
	}
	
	
	article.project-preview .inner a.image .hover .text .title{
		font-size: 0.7em;
		letter-spacing: 0.15em;
		text-transform: uppercase;
		margin-bottom:0.5em;
	}
	
	article.project-preview .inner a.image .hover .text .work-name{
		font-size: 1.2em;
		margin-bottom:0.1em;
	}
	

	

	#existing-work-types a{
		border:solid 1px #C9CFD5;
		height:40px;
		line-height:40px;
		padding:0px 50px 0px 15px;
		display:inline-block;
		zoom: 1;
		*display: inline;
		vertical-align:top;
		margin:0 0.5em 1em 0;
		background:url(img/global/projects-cross.png) no-repeat 92% 50%;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		cursor:pointer;
	}

	
	#projects_form .select-wrapper{
		border:solid 1px #C9CFD5;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		background:url(img/global/down-arrow.png) no-repeat 92% 50%;
		cursor:pointer;
		overflow:hidden;
		margin-bottom:2em;
	}
	
	.custom-select-box{
		position:relative;
		margin-bottom:1em;
		cursor:pointer;
		z-index:100;
	}
	
	.custom-select-box .title-header{
		height:50px;
		line-height:50px;
		background:url(img/global/down-arrow.png) no-repeat 95% 1.2em;
		border:solid 1px #C9CFD5;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		padding:0px 50px 0px 15px;
		cursor:pointer;
		font-family: "averageregular",sans-serif,Helvetica,Arial;
		
	}
	
	.custom-select-box.open .title-header{
		background:url(img/global/up-arrow.png) no-repeat 95% 1.2em;
		
	}
	
	
	
	.custom-select-box ul{
		position:absolute;
		display:none;
		left:0;
		top:47px;
		background:white;
		width:100%;
		z-index:100;
		border:solid 1px #C9CFD5;
		border-top:none;
		-webkit-border-bottom-right-radius: 5px;
		-webkit-border-bottom-left-radius: 5px;
		-moz-border-radius-bottomright: 5px;
		-moz-border-radius-bottomleft: 5px;
		border-bottom-right-radius: 5px;
		border-bottom-left-radius: 5px;
	}
	
	.custom-select-box  li{
		display:block;
		border:none;
		background:none;
		padding:0px 50px 10px 0px;
		cursor:pointer;
		font-family: "averageregular",sans-serif,Helvetica,Arial;
		color: #778795;
		height:50px;
		line-height:50px;
		padding:0 1em;
		transition:         all .25s ease-in-out;
		-webkit-transition: all .25s ease-in-out;
		-moz-transition:    all .25s ease-in-out;
		-o-transition:      all .25s ease-in-out;
	}
	
	.no-touch .custom-select-box  li:hover{
		background:#404761;
		color:white;
	}
	
	#projects_form .select-wrapper select{
		width:110%;
		display:block;
		border:none;
		background:none;
		padding:10px 50px 10px 15px;
		cursor:pointer;
		font-family: "averageregular",sans-serif,Helvetica,Arial;
		color: #778795;
	}
	
	
	.work-types-wrapper{
		color:#404761;
		margin-bottom:1em;
	}
	
	.work-types-wrapper .title{
		font-size: 0.7em;
		letter-spacing: 0.15em;
		text-transform: uppercase;
		margin-bottom:0.5em;
	}
	
	.work-types-wrapper .work-name{
		font-size: 1.2em;
		margin-bottom:0.1em;
	}



	#gallery-images{
		margin-bottom:3em;	
	}
	
	#gallery-images ul.gallery-large-images{
		overflow:hidden;
	}
	
	#gallery-images ul.gallery-large-images li{
		display:none;
	}
	
	#gallery-images ul.gallery-large-images li.current{
		display:block;
	}
	
	#gallery-images ul.gallery-large-images li a{
		display:block;
	}
	
	#gallery-images ul.gallery-large-images li a img{
		width:100%;
		height:auto;
	}
	
	
	
	
	
	
	

	#gallery-images ul.gallery-thumbs{
		margin-top:1em;
		overflow:hidden;
	}
	
	#gallery-images ul.gallery-thumbs li{
		width:20%;
		float:left;
		transition:         all .25s ease-in-out;
		-webkit-transition: all .25s ease-in-out;
		-moz-transition:    all .25s ease-in-out;
		-o-transition:      all .25s ease-in-out;
		margin-bottom:8px;
	}
	
	#gallery-images ul.gallery-thumbs li:hover,
	#gallery-images ul.gallery-thumbs li.current{
		display:block;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
		filter: alpha(opacity=60);
		-moz-opacity: 0.6;
		-khtml-opacity: 0.6;
		opacity: 0.6;
	}
	
	#gallery-images ul.gallery-thumbs li a{
		display:block;
		margin:0 auto;
		padding:0 4px;
		cursor:pointer;
		overflow:hidden;
	}
	
	#gallery-images ul.gallery-thumbs li a img{
		width:100%;
		height:auto;
	}
	




	.template-single-project iframe{
		width:100%;
		max-height:640px;	
	}

	a.video-player{
		display:block;
		position:relative;	
	}
	
	
	a.video-player img{
		width:100%;
		height:auto;
		position:relative;
		z-index:0;
	}
	
	a.video-player span{
		position:absolute;
		z-index:2;
		width:62px;
		height:43px;
		display:block;
		top:42%;
		left:45%;
		background:url(img/youtube-play-button.png) no-repeat;
	}
	/*
	<a href="<?php echo $sYoutubeVideoLink;?>" class="video-player <?php
            if($sEnviroment == "mobile-device"){
				echo "popup";
			}else{
				echo "iframe-lightbox";
			}?>"><span></span><img src="<?php echo $sYoutubeImage;?>" /></a>
			*/
	




/*
*	Standard Marquee
*/
	section.standard-marquee{
		margin-bottom:3rem;
		position: relative;;
		overflow: hidden;
		height:370px;
	}

	section.standard-marquee.flexslider-banner{
		height:auto;
		overflow: visible;
	}
	
	section.standard-marquee li.slide{
		opacity:0;
		position: relative;
	}


	section.standard-marquee .flex-viewport li.slide{
		opacity:1;
		background-repeat: no-repeat;
		background-position: center center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}

	section.standard-marquee li.slide::before{
		content:" ";
		height:100%;
		width:100%;
		background:black;
		position: absolute;
		left:0;
		top:0px;
		right:0;
		bottom:0;
		z-index: 0;
		opacity:0.4;

	}
	
	section.standard-marquee .flex-navigation .inner-nav .flex-control-paging li a{
		background:white;
	}



	section.standard-marquee .content{
		
		padding:60px 0 75px;
		position: relative;
		z-index: 1;
	}

	section.standard-marquee .content h2{
		color:white;
		display: block;
		position: relative;
		font-size: 2em;
		margin-bottom: 1.2em;
		line-height: 1.1em;
		font-family: 'poppinsbold', sans-serif, Helvetica, Arial;
	}

	section.standard-marquee .content h2::before{
		content:" ";
		height:4px;
		width:53px;
		background:#00B39D;
		position: absolute;
		left:0;
		bottom: -0.5em;
	}



	section.standard-marquee .content .description{
		color:white;
		margin: 1em 0;
		font-family: 'poppinsbold', sans-serif, Helvetica, Arial;
		line-height: 1.75em;
    	font-size: 1.2em;
		/*
		font-family: 'poppinsregular', sans-serif, Helvetica, Arial;
*/
	}

	section.standard-marquee .content a.cta{
		color:white;
		background:#778795;
		text-align: center;
		text-decoration: none;
		padding:10px 30px;
		display:inline-block;
		border-bottom:solid 3px #5C6D7A;
		border-radius: 7px;
		font-size: 0.9em;
    	letter-spacing: 0.1em;
    	margin-top:1rem;
		font-family: 'poppinsmedium', sans-serif, Helvetica, Arial;

	}



@media only screen and (min-width: 768px) {
	section.standard-marquee .content{
		padding:85px 0;
		min-height:500px;
		width:60%;
		overflow: hidden;
	}
}

@media only screen and (min-width: 1024px) {


	section.standard-marquee .content h2{
		    font-size: 3.4em;
    	letter-spacing: 0.02em;
    	margin-bottom: 1em;
	}


	section.standard-marquee .content h2::before{
		bottom: -0.4em;
	}

	section.standard-marquee .content .description{

    	font-size: 1.45em;
    letter-spacing: 0.05em;
	}


}



/*	SMART PHONE LANDSCAPE	ADAM	*/
@media only screen and (min-width: 480px) {
	.mobile,
	.mobile-large,
	.tablet,
	.tablet-large,
	.desktop{
		display:none;
	}
	
	.mobile-large{
		display:block;	
	}
	
	footer.primary .lower-footer-area .col{
		width:50%;
		float:left;
	}
	
	
	section.two-col-narrow-left .col.two-left,
	section.two-col-narrow-left .col.one-left{
		float: left;
		width: 48%;
		margin-bottom:3em;
	}
	
	section.two-col-narrow-left .col.two-right,
	section.two-col-narrow-left .col.one-right{
		float: right;
		width: 48%;
		margin-bottom:3em;
	}



/*
*	Marquee Banner
*/
	
	section.marquee li.banner-slide .inner-content .text-area{
		float:left;
		width:45%;
		text-align:left;	
	}
	
	section.marquee li.banner-slide .inner-content .image-wrapper{
		display:block;
		width:55%;
		float:right;
	}
	
	
	
	section.marquee li.banner-slide .image-wrapper .dropshadow{
		bottom:-1em;
	}
	

	
	section.marquee li.banner-slide .text-area h2 {
		font-size: 2.2em;
	}

	section.marquee li.banner-slide.house-custom .inner-content .text-area{
		width:100%;
		text-align:center;	
	}
	
	section.marquee li.banner-slide.house-custom .inner-content .image-wrapper{
		display:none;
	}
	
	
	
	
	
	main.template-contact-us-page .ul-buttons li{
		text-align:center;
		display:inline-block;
		zoom: 1; 
		*display: inline;
		margin:0 0.5em 0 0;
		width:auto;
		float:none;
	}


	main.template-contact-us-page .ul-buttons li a{
		-webkit-border-radius: 0px;
		-moz-border-radius: 0px;
		border-radius: 0px;
		-webkit-border-top-left-radius: 5px;
		-webkit-border-top-right-radius: 5px;
		-moz-border-radius-topleft: 5px;
		-moz-border-radius-topright: 5px;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
	}


/*
*	News Article
*/
	article.news-preview a.image{
		float:left;
		width:30%;
	}
	
	article.news-preview .content{
		float:right;
		width:65%;
	}
	
	.template-about-page .two-col-narrow-left img{
		display:block;	
	}
	
	.template-about-page .two-col-narrow-left h2{
		margin-top:0em;	
	}
	/*
*	project preview
*/

	
	article.project-preview{
		float:left;
		width:50%;
	}
	
	article.project-preview:nth-child(2n+1){
		clear:left;
	}
}









/*	TABLETS	*/
@media only screen and (min-width: 768px) {
	
/*
*	Projects 
*/
	header.projects-header{
			
	}

	header.projects-header .text-description{
		float:left;
		width:55%;
		line-height:1.9em;
	}
	
	header.projects-header .filter-list-select{
		float:right;
		width:40%;
		margin-top:1.5em;
	}






/*
*	project preview
*/
	article.project-preview{
		width:33.3333%;
	}
	
	
	article.project-preview:nth-child(2n+1){
		clear:none;
	}
	
	
	article.project-preview:nth-child(3n+1){
		clear:left;
	}
	
	
	
		
	
/*
*	Client list
*/
	
	ul.client-list-wrapper li{
		width:32%;
		float:none;
		display:inline-block;
		zoom: 1;
		*display: inline;
		vertical-align:middle;
	}
	
	ul.client-list-wrapper li .inner {
		max-width: 200px;
		padding: 1em;
	}

	ul.client-list-wrapper li:nth-child(2n+1){
		clear:none;	
	}
	
	ul.client-list-wrapper li:nth-child(3n+1){
		clear:left;	
	}





/*
*	Frontpage
*/
	.testimonials-strip .quote{
		font-size:2em;
	}
	.testimonials .flex-control-nav.flex-control-paging{
		max-width:none;	
	}
	
	section.marquee li.banner-slide .text-area h2{
		color:white;
		
	}

	.wpcf7-form .submit-area{
		text-align:right;
		margin-top:0em;	
	}
	
		
	
	

/*
*	Three Column	/	Two Column
*/
	section.three-col .col{
		width:33.333%;
		float:left;
		padding:0 3%;
		position:relative;
	}
	
	
	
	section.three-col .col:before{
		content:" ";
		width:1px;
		height:9999px;
		background:#E5E4E2;
		position:absolute;
		left:0%;
		top:0;
	}

	main.template-front-page .qualification section.three-col{
		font-size:0;
	}

	main.template-front-page .qualification a.col{
		/*
		margin:1.5rem 0;
		padding:1.5rem;
*/
		border-bottom:none;
		display: inline-block;
		vertical-align: top;
		font-size:1rem;
		float: none;
	}

	main.template-front-page .qualification a.col:nth-child(3n+1):after{
		content:" ";
		width:100vw;
		height:1px;
		background:#E5E4E2;
		position:absolute;
		left:0%;
		top:-3rem;
	}

	main.template-front-page .qualification a.col:nth-child(1):after{
		display: none;
	}

	main.template-front-page .qualification a.col:nth-child(3n+1):before{
		display:none;
	}

	section.three-col .col:first-child:before{
		display:none;
	}
	
	section.three-col .col:first-child{
		padding:0 3% 0 0;
	}
	
	section.three-col .col:last-child{
		padding:0 0 0 3%;
	}


	section.two-col{
		margin-bottom:3em;	
	}
	

	section.two-col  .col{
		margin-bottom:0em;
		width:48%;
		float:right;
	}
	
	section.two-col-narrow-left .col{
		margin-bottom:2em;	
	}
	

	section.two-col  .col:first-child{
		float:left;	
	}


	
	
	
	
/*
*	marquee Banner
*/

	section.marquee li.banner-slide .text-area h2 {
		font-size: 2.8em;
	}
	section.marquee li.banner-slide .inner-content .image-wrapper .image{
		margin-top:2em;	
	}
	
	section.marquee li.banner-slide .inner-content {
		padding: 4em 0 2em;
	}

	section.marquee li.banner-slide.house-custom .text-area h2 {
		font-size: 2.5em;
	}
	
	section.marquee li.banner-slide.house-custom .inner-content .text-area{
		width:35%;
		text-align:left;	
	}
	
	section.marquee li.banner-slide.house-custom .inner-content .image-wrapper{
		width:65%;
		display:block;
	}
	
	section.marquee li.banner-slide.house-custom .inner-content .image-wrapper .image{
		max-width:641px;
	}

	

/*
*	Footer
*/

	footer.primary .lower-footer-area .contact-col{
		width:30%;
	}
	
	footer.primary .lower-footer-area .offices-col{
		width:45%;
	}
	
	footer.primary .lower-footer-area .follow-us-col{
		width:25%;
		float:right;
		/*max-width:165px;*/
	}


	footer.primary .lower-footer-area .footer-terms .copyright{
		float:left;	
	}
	
	footer.primary .lower-footer-area .footer-terms nav.terms{
		float:right;	
	}
	
	
	

/*
*	Common
*/
	.mobile,
	.mobile-large,
	.tablet,
	.tablet-large,
	.desktop{
		display:none;
	}

	.tablet{
		display:block;	
	}
	
	
	
	
	
/*
*	Search form
*/	
	.search-form{
		display:inline-block;
		zoom: 1; 
		*display: inline;
	}

	
	header.primary .header-top .primary-logo{
		float:left;
		width:30%;
	}





/*
*	Header	
*/
	#mobile-menu{
		display:none!important;	
	}
	
	body{
		width:100%!important;
		position:static!important;
		right:0!important;	
	}
	
	.primary-logo{
		max-width:264px;
		padding-top: 1.5em;
	}
	




	.archive-listing{
		overflow:hidden;	
	}
	
	
	.archive-listing .right-wrapper:before{
		width:1px;
		height:9999px;
		background:#E5E4E2;
		position:absolute;
		top:0;
		left:0;
		content:" ";
	}


	
	
	.archive-listing .left-wrapper{
		width:50%;
		float:left;	
		
	}
	
	.archive-listing .right-wrapper{
		width:43%;
		float:right;
		position:relative;	
		margin-top:6em;	
	}
	
	#secondary aside.party-wall-downloads ul li a{
		line-height:1.3em;
		font-size:1em;
	}
	
	

	.service-alternative-downloads aside.party-wall-downloads ul.downloads-list li{
		width:33.333%;
		padding-right:6%;
	}



	
}


/*	TABLETS	*/
@media only screen and (min-width: 875px) {


/*
*	Banner Marquee
*/


	.archive-listing .left-wrapper{
		width:65%;
	}
	
	.archive-listing .right-wrapper{
		width:28%;
	}

	
/*
*	Common
*/
	section.two-col-narrow-left .col.one-left{
		float:left;
		width:35%;
	}
	
	section.two-col-narrow-left .col.one-right{
		float:right;
		width:61%;
	}
	
	
	section.two-col-narrow-left .col.two-left{
		float:left;
		width:60%;
		
	}
	
	section.two-col-narrow-left .col.two-right{
		float:right;
		width:35%;
	}

}






/*	DESKTOPS */
@media only screen and (min-width: 1024px) {
	
	
/*
*	Projects 
*/
	header.projects-header .text-description{
		width:60%;
	}
	
	header.projects-header .filter-list-select{
		width:30%;
	}








/*
*	Client list
*/
	
	ul.client-list-wrapper li{
		width:24%;
	}
	
	ul.client-list-wrapper li .inner {
		max-width: 220px;
	}

	
	ul.client-list-wrapper li:nth-child(3n+1){
		clear:none;	
	}
	
	ul.client-list-wrapper li:nth-child(4n+1){
		clear:left;	
	}
	
	
	
	
	
	
/*
*	project preview
*/
	article.project-preview{
		width:25%;
	}
	
	
	article.project-preview:nth-child(3n+1){
		clear:none;
	}
	
	
	article.project-preview:nth-child(4n+1){
		clear:left;
	}
	
	
	
	
	
	.mobile,
	.mobile-large,
	.tablet,
	.tablet-large,
	.desktop{
		display:none;
	}
	
	.tablet-large{
		display:block;	
	}
	
	
	section.marquee li.banner-slide .image-wrapper .image img{
		width:auto;
		height:auto;
	}

	footer.primary .lower-footer-area .contact-col{
		width:25%;
	}
	
	footer.primary .lower-footer-area .offices-col{
		width:50%;
	}
	
	footer.primary .lower-footer-area .follow-us-col{
		width:18%;
	}
	
	
	footer.primary .lower-footer-area ul.our-offices li {
		width: 32.33%;
	}
	
	



/*
*	Banner MArquee
*/
	section.marquee li.banner-slide.house-custom .text-area h2 {
		font-size: 3.5em;
	}

	section.marquee li.banner-slide .text-area h2 {
		font-size: 3.5em;
	}

}


/*	WIDE DESKTOP */
@media only screen and (min-width: 1100px) {
	.full-wrapper{
		padding:0;
	}
	
	.mobile,
	.mobile-large,
	.tablet,
	.tablet-large,
	.desktop{
		display:none;
	}
	
	.desktop{
		display:block;	
	}
	

}






/*	FULL DESKTOP */
@media only screen and (min-width: 1800px) {

	
}















	header.primary .members-login-btn{
		position: absolute;
		top:1.2em;
		right: 15%;
		background:#00B39D;
		height:30px;
		width:30px;
		overflow: hidden;
		color:white;
		display: block;
		border-radius: 5px;
	}

	header.primary .header-top .top-wrapper .contact-number {
		float:left;
		padding-left: 5%;
	}

	header.primary .members-login-btn span{
		display:none;
	}
	@media only screen and (min-width: 500px) {
		header.primary .members-login-btn{
			
			right: 13%;
			
		}
	}

	@media only screen and (min-width: 768px) {

		header.primary .members-login-btn{
			height: 42px;
    		width: 42px;
			top: 2em;
    		right: 220px;
		}
	}


	@media only screen and (min-width: 945px) {
		header.primary .members-login-btn{
			width:152px;
			background-position: 87% 50%;
			text-decoration:none;
			border-bottom:solid 2px #02937E;
		}
		header.primary .members-login-btn span{
			display:block;
			height:42px;
			line-height:43px;
			padding-left:20px;
			padding-right:40px;
			font-family: 'poppinsmedium', sans-serif, Helvetica, Arial;
			font-size:13px;
			letter-spacing:0.04em;
		}
	}


	@media only screen and (min-width: 1024px) {
		header.primary .members-login-btn{
			right:250px;
		}

	}

	@media only screen and (min-width: 1280px) {
		header.primary .header-top .top-wrapper .contact-number {
			padding-left: 2%;
		}
	}
















	.contact-form-wrapper{
		background:#FAFAFA;
		padding:0em 0 4rem;
	}
	
	.contact-form-wrapper h2{
		text-align:center;	
	}

	.contact-form-wrapper .career-choice{
		text-align:center;
		margin-bottom:2em;
	}
	
	.contact-form-wrapper .career-choice #career-field{
		display:none;	
	}
	
	.contact-form-wrapper .career-choice .title{
		font-size:1.438em;
		color:#2b3347;
		font-family: 'poppinssemibold', sans-serif, Helvetica, Arial;
		height:75px;
		line-height:75px;
		margin-right:1em;
	}
	
	.contact-form-wrapper .career-choice a{
		font-family: 'shadows_into_lightregular';
		color:#2b3347;
		font-size:1.625em;
		cursor:pointer;
		width:215px;
		height:75px;
		line-height:75px;
		
	}
	
	.contact-form-wrapper .career-choice .title,
	.contact-form-wrapper .career-choice a{
		display:inline-block;
		zoom: 1; 
		*display: inline;
		vertical-align:bottom;
	}
	
	.contact-form-wrapper .career-choice a.current{
		background:url(img/home/carrer-circle.png) no-repeat center center;
		background-size:auto 100%;
		color:#00b39d;
	}
	
	.contact-form-wrapper .career-choice a:hover{
		color:#00b39d;
	}
	

	.contact-form-wrapper .career-choice.top-dropdown .title{
	    vertical-align: middle;
	}


	.contact-form-wrapper .career-choice.top-dropdown .wpcf7-form-control-wrap.owner_type{
		display: inline-block;
		vertical-align: middle;
	}

	.contact-form-wrapper .dk-selected{
		height:60px;
		line-height: 60px;
		padding: 0 60px 0 20px;
		text-align: left;
		border: 2px solid #EDEFF0;
	}


	.contact-form-wrapper .dk-selected:before{
		display: none;
	}

	.contact-form-wrapper .dk-selected:after{
		width:60px;
		border: none;
		margin:0;
		background:url(img/global/down-arrow.png) no-repeat center center;
	}


	.dk-select-open-up .dk-select-options, 
	.dk-select-open-down .dk-select-options, 
	.dk-select-multi:focus .dk-select-options{
		border: 2px solid #EDEFF0;
	}

	.dk-select-options .dk-option{
		padding:10px;
	}
	.dk-option-selected,
	.dk-select-options .dk-option-highlight {
	    background-color: #00B39D;
	}



	.contact-form-wrapper .dk-select-open-down .dk-selected:after{
		background:url(img/global/up-arrow.png) no-repeat center center;
	}



	.contact-form-wrapper .forms-selector li.form{
		display:none;
	}

	.contact-form-wrapper .forms-selector li.form.current{
		display:block;
	}


	.contact-form-wrapper .form-picker{
		position: relative;
		margin-bottom:3rem;
	}

	.contact-form-wrapper .form-picker .bg{
		position: absolute;
		top:0;
		bottom:0;
		width:100%;
		height:100%;
		z-index: 0;
		background:#778795;
	}

	.contact-form-wrapper .form-picker .bg.left-colour{
		left:0;
	}

	.contact-form-wrapper .form-picker .bg.right-colour{
		right:0;
	}


	.contact-form-wrapper .form-picker .buttons{
		position: relative;
		z-index: 1;
		max-width:1440px;
		margin:0 auto;
		text-align: center;
	}


	.contact-form-wrapper .form-picker .buttons li a{
		display: block;
		font-family: 'poppinsregular', sans-serif, Helvetica, Arial;
		color:white;
		padding:20px;
		cursor: pointer;
	}

	.contact-form-wrapper .form-picker .buttons li a:hover,
	.contact-form-wrapper .form-picker .buttons li.current a{
		background:#00B39D;
	}




@media only screen and (min-width: 768px) {

	.contact-form-wrapper .form-picker .buttons{
		font-size: 0;
	}

	.contact-form-wrapper .form-picker .buttons li{
		display: inline-block;
		vertical-align: top;
		width:33.3333%;
		font-size: 1rem;
		position: relative;
	}

	.contact-form-wrapper .form-picker .buttons li.current:before{

		top: 100%;
		left: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-color: rgba(0, 179, 157, 0);
		border-top-color: #00B39D;
		border-width: 11px;
		margin-left: -11px;


	}



	.contact-form-wrapper .wpcf7-form-control-wrap.owner_type{
		width:100%;
		max-width:430px;
	}

	.contact-form-wrapper .dk-select{
		width:100%;
		max-width:430px;
	}



	.contact-form-wrapper .form-picker .buttons li a{
		padding:26px 20px;
	}



}






	.login-form{
		margin:0 auto;
		padding:0 5%;
		max-width:435px;
	}

	.login-form h3{
		color: #778795;
	    font-size: 1.2em;
	    margin-bottom: 1.7em;
	    font-family: "poppinssemibold",sans-serif,Helvetica,Arial;
	}


	.login-form .forgot-password{
		text-decoration:underline;
		color: #778795;
	}

	#loginform label{
		display:block;
		padding:0 0 0.2em 0.85em;
		margin-top:1em;
	}
	
	#loginform input[type="text"],
	#loginforminput[type="email"],
	#loginform input[type="password"],
	#loginform select,
	#loginform textarea{
		width:99%;
		background:none;
		border:none;
		margin-bottom:1.2em;
		border:solid 1px #E0E3E6;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
	}
	
	#loginform input[type="text"],
	#loginform input[type="password"],
	#loginform input[type="email"]{
		height:55px;
		line-height:55px;
		padding:0 1em;
	}
	
	#loginform textarea{
		padding:1em;
		max-height:120px;
		margin-bottom:0;
	}
	
	
	#wp-submit{
		border:none;
		display:inline-block;
		zoom: 1; 
		*display: inline;
		padding:0.8em 4.5em;
		color:white;
		font-family: 'poppinssemibold', sans-serif, Helvetica, Arial;
		text-align:center;
		text-decoration:none;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		
		font-size:14px;
		letter-spacing:0.05em;
		margin:1em 0;
		position:relative;
		background:#00B39D;
		border-bottom:3px solid #02937E;
	}
	
	
	#wp-submit:hover{
		color:#282F42;
	}
	
	#wp-submit:active{
		top:2px;
		border-bottom:1px solid #02937E;
	}
	





@media only screen and (min-width: 500px) {
	.login-form{
		padding:0;
	}

}


/*
*	Members dashboard
*/


.members-dashboard header{
	max-width:860px;
}

.members-dashboard .members-logout{
	text-align: right;
}

.members-dashboard .members-logout a{
	text-decoration: none;
	color: #00b39d;
	font-size: 16px;
}

.members-dashboard h2{
	color: #00b39d;
	font-family: 'poppinsbold', sans-serif, Helvetica, Arial;
    font-size: 1.500em;
    line-height: 1.8em;
    margin-bottom: 1.1em;
    letter-spacing: 0.05em;
}

.members-dashboard h3{
	color: #404761;
    font-family: 'poppinsbold', sans-serif, Helvetica, Arial;
    font-size: 1.1em;
    line-height: 2em;
    margin-bottom: 3em;
    letter-spacing: 0.03em;
}

.members-dashboard .inner-wrapper{
	margin:2rem auto;
	max-width:900px;
}

.members-dashboard .intro-image{
	margin:2rem auto;
	max-width:900px;
	display: block;
	text-align: center;
}

.members-dashboard .intro-image img{
	max-width: 100%;
    height: auto;
}

.members-dashboard ul.download-list{
	font-size:0;
	overflow: hidden;
	margin-top:5rem;
}

.members-dashboard ul.download-list li{
	font-size:1rem;
	margin-bottom:2rem;
	padding:0 5%;
}

.members-dashboard ul.download-list a{
	display:block;
	text-align:center;
	text-decoration: none;
	max-width:180px;
	margin:0 auto;
}

.members-dashboard ul.download-list a .logo{
	display: block;
}

.members-dashboard ul.download-list a .title{
	display: block;

	color: #404761;
    font-family: 'poppinsbold', sans-serif, Helvetica, Arial;
    font-size: 1em;
    line-height: 1.6em;
    margin-bottom: 3em;
    letter-spacing: 0.01em;
    margin-top:1rem;
}


.members-dashboard ul.download-list a:hover .title{
	color: #00b39d;
}


@media only screen and (min-width: 400px) {
	.members-dashboard ul.download-list li{
		/*
		margin-bottom:2rem;
		padding:0 5%;
		float: left;
		*/
		float: left;
		width:50%;
	}

	.members-dashboard ul.download-list li:nth-child(2n+1){
		clear:left;
	}
	

}

@media only screen and (min-width: 700px) {
	.members-dashboard ul.download-list li{
		width:33.3333%;
		padding:0;
	}
	.members-dashboard ul.download-list li:nth-child(2n+1){
		clear:none;
	}
	.members-dashboard ul.download-list li:nth-child(3n+1){
		clear:left;
	}
}


@media only screen and (min-width: 1150px) {
	.members-dashboard ul.download-list li{
		width:25%;
	}
	.members-dashboard ul.download-list li:nth-child(3n+1){
		clear:none;
	}
	.members-dashboard ul.download-list li:nth-child(4n+1){
		clear:left;
	}
	
}

/*	FONT FACE INCLUSIONS */
/*
@font-face {
    font-family: 'Brandon Grotesque Black';
    src: url('old/brandon_blk.eot');
    src: url('old/brandon_blk.eot?#iefix') format('embedded-opentype'),
         url('old/brandon_blk.woff') format('woff'),
         url('old/brandon_blk.ttf') format('truetype'),
         url('old/brandon_blk.svg#Brandon Grotesque Black') format('svg');
    font-weight: normal;
    font-style: normal;
}
*/





/*
*	Mega Menu
*/


	nav.primary a{
		padding: 0 2em;
	}

@media only screen and (min-width: 875px) {
	nav.primary a{
		padding:0 2.7em;
	}
}

/*	DESKTOPS */
@media only screen and (min-width: 1024px) {
	nav.primary a{
		padding:0 3.5em;
	}
}

/*	WIDE DESKTOP */
@media only screen and (min-width: 1100px) {
	nav.primary a{
		/*padding:0 4.5em;*/
	}
}





/*

nav.primary li.menu-item-has-children.current-menu-item ul.sub-menu,
nav.primary li.menu-item-has-children:hover ul.sub-menu{
	display:block;
	z-index:999;
}

*/

nav.primary li.mega-menu.menu-item-has-children.current-menu-item ul.sub-menu{
	display: none;
}

nav.primary li.mega-menu.menu-item-has-children.current-menu-item:hover ul.sub-menu{
	display:block;
	z-index:999;
}


/*
nav.primary li.mega-menu ul.sub-menu{
	overflow:hidden;
}
*/

nav.primary li.mega-menu ul.sub-menu .full-wrapper{
	overflow:hidden;
}

nav.primary li.mega-menu ul.sub-menu li.menu-item-has-children{
	float:left;
}

nav.primary li.mega-menu ul.sub-menu li.menu-item-has-children:nth-child(1){
	width:33.333%;
}

nav.primary li.mega-menu ul.sub-menu li.menu-item-has-children:nth-child(2){
	width:33.333%;
}

nav.primary li.mega-menu ul.sub-menu li.menu-item-has-children:nth-child(3){
	width:33.333%;
}

nav.primary li.mega-menu ul.sub-menu li.menu-item-has-children > a{
	color: #404761;
    font-family: 'poppinssemibold';
    font-size: 0.9em;
    padding: 0.5rem 0;
    display: block;
    text-align: left;
    border:none!important;
}

nav.primary li.mega-menu ul.sub-menu li.menu-item-has-children.current-menu-parent > a,
nav.primary li.mega-menu ul.sub-menu li.menu-item-has-children.current_page_item > a,
nav.primary li.mega-menu ul.sub-menu li.menu-item-has-children > a:hover{
	color: #00b39d;
}




nav.primary li.mega-menu ul.sub-menu li.menu-item-has-children a:hover{
	border:none;
}

nav.primary li.mega-menu ul.sub-menu li.menu-item-has-children ul.sub-menu{
	position: static;
	padding-bottom: 2rem;
}

nav.primary li.mega-menu ul.sub-menu li.menu-item-has-children ul.sub-menu .full-wrapper{
	font-size:0;
	padding:0;
}

nav.primary li.mega-menu ul.sub-menu li.menu-item-has-children ul.sub-menu .full-wrapper li.menu-item{
	/*
	display: inline-block;
	vertical-align:top;
	*/
	display: block;
	font-size:1rem;
	
}
nav.primary li.mega-menu ul.sub-menu li.menu-item-has-children ul.sub-menu .full-wrapper li.menu-item a{
	padding:0.75em 1rem 0.75rem 0;
	height:auto;
	line-height:1.5em;
	text-align:left;
	border:none!important;
}

nav.primary li.mega-menu ul.sub-menu li.menu-item-has-children ul.sub-menu .full-wrapper li.current_page_item a,
nav.primary li.mega-menu ul.sub-menu li.menu-item-has-children ul.sub-menu .full-wrapper li.menu-item a:hover{
	color: #00b39d;
}
/*
nav.primary li.mega-menu ul.sub-menu li.menu-item-has-children:nth-child(1) ul.sub-menu .full-wrapper li.menu-item{
	width:50%;
}


nav.primary li.mega-menu ul.sub-menu li.menu-item-has-children:nth-child(3) ul.sub-menu .full-wrapper li.menu-item{
	width:50%;
}
*/


/*@font-face {
    font-family: 'poppinsbold';
    src: url('old/poppins-bold-webfont.eot');
    src: url('old/poppins-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('old/poppins-bold-webfont.woff2') format('woff2'),
         url('old/poppins-bold-webfont.woff') format('woff'),
         url('old/poppins-bold-webfont.ttf') format('truetype'),
         url('old/poppins-bold-webfont.svg#poppinsbold') format('svg');
    font-weight: normal;
    font-style: normal;
}




@font-face {
    font-family: 'averageregular';
    src: url('old/average-regular-webfont.eot');
    src: url('old/average-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('old/average-regular-webfont.woff2') format('woff2'),
         url('old/average-regular-webfont.woff') format('woff'),
         url('old/average-regular-webfont.ttf') format('truetype'),
         url('old/average-regular-webfont.svg#averageregular') format('svg');
    font-weight: normal;
    font-style: normal;
}




@font-face {
    font-family: 'poppinslight';
    src: url('old/poppins-light-webfont.eot');
    src: url('old/poppins-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('old/poppins-light-webfont.woff2') format('woff2'),
         url('old/poppins-light-webfont.woff') format('woff'),
         url('old/poppins-light-webfont.ttf') format('truetype'),
         url('old/poppins-light-webfont.svg#poppinslight') format('svg');
    font-weight: normal;
    font-style: normal;
}




@font-face {
    font-family: 'poppinsmedium';
    src: url('old/poppins-medium-webfont.eot');
    src: url('old/poppins-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('old/poppins-medium-webfont.woff2') format('woff2'),
         url('old/poppins-medium-webfont.woff') format('woff'),
         url('old/poppins-medium-webfont.ttf') format('truetype'),
         url('old/poppins-medium-webfont.svg#poppinsmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}




@font-face {
    font-family: 'poppinsregular';
    src: url('old/poppins-regular-webfont.eot');
    src: url('old/poppins-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('old/poppins-regular-webfont.woff2') format('woff2'),
         url('old/poppins-regular-webfont.woff') format('woff'),
         url('old/poppins-regular-webfont.ttf') format('truetype'),
         url('old/poppins-regular-webfont.svg#poppinsregular') format('svg');
    font-weight: normal;
    font-style: normal;
}




@font-face {
    font-family: 'poppinssemibold';
    src: url('old/poppins-semibold-webfont.eot');
    src: url('old/poppins-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('old/poppins-semibold-webfont.woff2') format('woff2'),
         url('old/poppins-semibold-webfont.woff') format('woff'),
         url('old/poppins-semibold-webfont.ttf') format('truetype'),
         url('old/poppins-semibold-webfont.svg#poppinssemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}




@font-face {
    font-family: 'shadows_into_lightregular';
    src: url('old/shadowsintolight-webfont.eot');
    src: url('old/shadowsintolight-webfont.eot?#iefix') format('embedded-opentype'),
         url('old/shadowsintolight-webfont.woff2') format('woff2'),
         url('old/shadowsintolight-webfont.woff') format('woff'),
         url('old/shadowsintolight-webfont.ttf') format('truetype'),
         url('old/shadowsintolight-webfont.svg#shadows_into_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
*/
